<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="test" ng-controller="testController">
	<div class="content">
		<header class="controls-holder container">
			<div class="numbers-holder">
				<input type="number" placeholder="Min number" ng-model="minNumber" ng-change="generateArray()">
				<input type="number" placeholder="Max number" ng-model="maxNumber" ng-change="generateArray()">
			</div>
			<div class="buttons-holder">
				<button ng-click="option = 'ALL'">Show all numbers</button>
				<button ng-click="option = 'EVEN'">Show even numbers</button>
				<button ng-click="option = 'ODD'">Show odd numbers</button>
			</div>
		</header>
		<div class="results-space container">
			<div class="buttons-holder">
				<button ng-click="alignment = ''">Display on the left</button>
				<button ng-click="alignment = 'pull-right'">Display on the right</button>
			</div>
		</div>

		<label>{{message}}<label>
		<div class="list" ng-class="alignment">
			<!-- INSERT THE NUMBERS HERE. YOU ARE ALLOWED THE MODIFY OTHER PARTS OF THE CODE -->
			<numbers></numbers>
		</div>
	</div>
</body>
</html>
