html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.content {
	height: 100%;
	background-color: red;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	padding: 20px;
}

.controls-holder {
	background-color: orange;
}

.numbers-holder {
	display: inline-block;
}

.buttons-holder {
	float: right;
}

.pull-right{
	float: right
}
